@use '../styles/Variables.scss' as *;
@mixin screen-reader-only {
	position: absolute;
	top: -9999em;
	left: -9999em;
}
@mixin no-select {
	user-select: none;
}
@mixin button-base {
	@include no-select;
	display: inline-block;
	vertical-align: top;
	border: solid;
	border-width: 1px;
	border-radius: $border-radius-button;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	outline: 0 none;
	overflow: visible;
	white-space: nowrap;
	max-width: 100%;
	transition: all 0.12s ease-in;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:hover {
		text-decoration: none;
	}
}
@mixin button-typography {
	font-family: $font-family-button;
	font-weight: $font-weight-button;
	font-size: $font-size-button;
	line-height: $line-height-button;
	letter-spacing: $letter-spacing-button;
	text-transform: $text-transform-button;
}
@mixin button-space {
	padding: $padding-button;
	margin: $margin-button;
}
@mixin button-theme {
	text-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: $color-button-default;
	color: $color-text-invert;
	border-color: $color-button-default-dark;
}
@mixin button-theme-hover {
	text-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: $color-button-default-tint;
	color: $color-text-invert;
	border-color: $color-button-default;
}
@mixin button-theme-active {
	text-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: $color-button-default-dark;
	color: $color-text-invert;
	border-color: $color-button-default-dark;
}
@mixin button-theme-status-active {
	text-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: $color-button-active-dark!important;
	color: $color-text-invert;
	border-color: $color-button-active-dark;
}
