$color-text-body: #32271b;
$color-text-heading: #19130e;
$color-text-invert: #ffffff;

$color-body: #f0ece3;
$color-shade-1: #eae1d8;
$color-shade-2: #e3d8cc;

$color-tag: #dccebf;
$color-available: #56c65d;
$color-pending: #f4bf5a;
$color-sold: #f46e6a;

$color-button-default-tint: #a0784a;
$color-button-default: #977753;
$color-button-default-dark: #8b6d4c;

/* $color-button-active-tint: #86633e; */
$color-button-active: #7e6345;
$color-button-active-dark: #71593e;

$font-family-button: inherit;
$font-weight-button: normal;
$font-size-button: 1em;
$line-height-button: 1;
$letter-spacing-button: 0;
$text-transform-button: none;
$padding-button: 0.6em;
$margin-button: 0 auto 0.5em auto;
$border-radius-button: 0.25em;

$font-family-filter-label: inherit;
$font-weight-filter-label: bolder;
$font-size-filter-label: 1.125em;
$line-height-filter-label: 1.2;
$letter-spacing-filter-label: 0;
$text-transform-filter-label: none;

$panel-radius-button: 0.35em;
